<div class="list-group">
  <a href="#" class="list-group-item">
    <i class="fa fa-home"></i> Home
  </a>
  <a href="/shelves/" class="list-group-item">
    <i class="fa fa-book"></i> Shelves
  </a>
  <a href= "/documents/" class="list-group-item">
    <i class="fa fa-file-o"></i> Documents
  </a>
  <a href="/add_library/" class="list-group-item">
    <i class="fa fa-plus-circle"></i> New Library
  </a>
  <a href="/contacts/" class="list-group-item">
    <i class="fa fa-envelope"></i> Contacts
  </a>
</div>
