<div class="col-sm-3 sidebar">
    <ul class="nav nav-sidebar">
        <li>
            <a href="/library/"><i class="icon-globe"></i>Library</a>
        </li>
        <li>
            <a href="/library/"><i class="icon-globe"></i>Shelves</a>
        </li>
        <li>
            <a href="/authors/"><i class="icon-tags"></i>Documents</a>
        </li>
        <li>
            <a href="#" id="add-document"><i class="icon-tags"></i>Add Document</a>
        </li>
        <li>
            <a href="#" id="add-shelf"><i class="icon-tags"></i>Add Shelf</a>
        </li>
        <li>
            <a href="#" id="add-directory"><i class="icon-tags"></i>Add Directory</a>
        </li>


    </ul>
</div>
