<div class="list-group">
  <a href="#home" class="list-group-item">
    <i class="fa fa-home"></i> Home
  </a>

  <a href="#libraries" class="list-group-item" data-toggle="collapse">
    <i class="fa fa-book"></i> Libraries
  </a>

  <div class="list-group collapse {% if libraries %}in{% endif %}" id="libraries">
    <a href="/new_library/" class="list-group-item">
      <i class="fa fa-plus-circle"></i> New Library
    </a>
    {% for library in libraries %}
      <a href="/library/{{ library.id}}" class="list-group-item">
        <i class="fa fa-book"></i> {{ library.name }}
      </a>
    {% endfor %}
    <!-- insert libraries here via template -->
    <!-- shelves go under each library -->
  </div>
  <a href="/contacts/" class="list-group-item">
    <i class="fa fa-envelope"></i> Contacts
  </a>
</div>
