<table class="table table-striped" id="authors" width="100%">
    <thead>
    <tr>
        <th>Last name</th>
        <th>First name</th>
        <th>Middle name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody id="authors-body">

    </tbody>
</table>
