<div class="modal fade" role="dialog" tabindex="-1" id="category-delete-dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-label">Delete category?</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this category? All children categories of this category will
                also be deleted.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="delete-category-yes">Yes</button>
                <button type="button" class="btn btn-primary" id="delete-category-no" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>